:root {
  --width: 230px;
  --chart: rgb(51, 253, 0);
  --fill: rgba(0, 255, 60, 0.185);
}

body {
  font-family: monospace;
  padding: 0px;
  margin: 0px;
  background-color: rgb(5, 5, 5);
  color: rgb(255, 255, 255);
}

#particles-js {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 56px;
  background-color: rgba(255, 255, 255, 0.916);
  overflow: visible;
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: 2;
  transition: width 0.1s ease-in-out;
  margin: 0;
  padding: 0;
  box-shadow: 5px 0 6px rgba(149, 149, 149, 0.519);
}

nav .texto {
  color: rgb(0, 0, 0);
  transform: rotate(90deg);
  padding-left: 20px;
  transition: opacity 0.3s ease;
}

nav:hover .texto {
  opacity: 0;
}

nav:hover {
  width: var(--width);
}

nav .user {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height: 180px;
  transform: translateX(-320px);
  opacity: 0;
  width: var(--width);
  transition: transform 0.4s ease, opacity 0.4s ease-in;
}

nav .user p {
  font-size: large;
}

nav .user img {
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

nav:hover .user {
  transform: translateX(0px);
  opacity: 1;
}

nav .links {
  margin-top: 45px;
}

nav .links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  align-items: center;
  width: var(--width);
  overflow: hidden;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

nav .links a .icon {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .links a:hover {
  background-color: rgb(31, 135, 205);
  color: white;
  font-weight: bolder;
  transform: translate(9px, -3px);
  box-shadow: -3px 6px 5px rgba(198, 198, 198, 0.387);
}

nav .links a .title {
  opacity: 0;
  transition: opacity 0.3s ease;
}

nav:hover .links a .title {
  opacity: 1;
}

.caja-principal {
  margin-left: 56px;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.caja-principal .saludo {
  font-family: monospace;
  height: 90px;
  width: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.903);
  color: rgb(0, 0, 0);
  position: absolute;
  left: 0;
  z-index: 1;
}

.caja-principal .saludo h1 {
  font-size: 25px;
}

.primero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 90vh;
  background-color: rgba(29, 29, 61, 0);
  position: relative;
  z-index: 1;
  padding: 25px;
  margin-top: 60px;
}

.primero .secciones-uno {
  font-size: 21px;
  margin-left: 10px;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--fill);
  border-radius: 18px;
  margin-right: 10px;
  padding: 5px;
  border: solid 5px var(--chart);
  box-shadow: -4px 4px 6px rgba(193, 193, 193, 0.452);

  transition: all 0.4s ease-in-out;
}

.primero .secciones-uno:hover {
  transform: translate(15px, -15px);
  box-shadow: -4px 4px 10px rgba(77, 77, 77, 0.452);
}

.primero .secciones-uno h1,
p {
  text-align: center;
}

.primero .secciones-dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 400px;
  border-radius: 25px;
  align-items: center;
  background-color: rgba(0, 255, 60, 0.267);
  padding: 5px;
  border: solid 5px rgb(45, 225, 0);
  box-shadow: -4px 4px 6px rgba(193, 193, 193, 0.452);

  transition: all 0.3s ease-in-out;
}

.primero .secciones-dos:hover {
  transform: translate(13px, -13px);
  box-shadow: -4px 4px 10px rgba(77, 77, 77, 0.452);
}

.primero .secciones-dos img {
  width: 300px;
  border-radius: 100px;
}

.segundo {
  background-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  position: relative;
}

.segundo .titulo {
  padding: 15px;
  background-color: var(--fill);
  font-family: monospace;
  font-size: 28px;
  border: outset 5px var(--chart);
  box-shadow: -4px 4px 6px rgba(121, 121, 121, 0.814);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  height: 100%;
  align-self: center;
  align-items: center;
  margin: 0 50px 80px 50px;
}

.segundo .lista-habilidades {
  display: flex;
  width: fit-content;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  display: none;
}

.segundo .lista-habilidades .habilidad {
  padding: 10px;
  margin: 20px;
  border: solid 3px var(--chart);
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fill);
  border-radius: 20px;
  animation: float 2s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
    box-shadow: -5px 5px 4px rgba(49, 49, 49, 0.452);
  }
  50% {
    transform: translate(3px, -3px);
    box-shadow: -5px 5px 8px rgba(193, 193, 193, 0.452);
  }

  100% {
    transform: translate(0px, 0px);
    box-shadow: -5px 5px 4px rgba(49, 49, 49, 0.452);
  }
}

.segundo .lista-habilidades .habilidad img {
  width: 100px;
  padding: 5px;
}

/* Lista de proyectos */

.tercero {
  background-color: transparent;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 25px;
}

.tercero .titulo {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: var(--fill);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
  border: outset 5px var(--chart);
  box-shadow: -4px 4px 6px rgba(121, 121, 121, 0.814);
  border-radius: 8px;
  overflow: hidden;
  height: 50px;
  align-items: center;
  margin: 10px;
}

.tercero .lista-proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 30px;
}

.tercero .lista-proyectos .fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.tercero .lista-proyectos .fila .proyectos img {
  width: 250px;
  margin: 15px;
  border-radius: 15px;
}

.tercero .lista-proyectos .fila .proyectos img:hover {
  background-color: rgba(82, 82, 82, 0.261);
  z-index: 2;
}

/* Formularios */

.cuarta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-family: monospace;
  font-size: 25px;
}

.cuarta h2,
h5 {
  text-align: center;
}

.cuarta .formulario .primero,
.cuarta .formulario .segundo,
.cuarta .formulario .tercero {
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  overflow: visible;
  align-items: flex-start;
  margin: 0;
  gap: 0;
  padding: 0;
}

.cuarta .formulario input {
  width: 45vw;
  border-radius: 15px;
  border-color: aliceblue;
  padding: 10px;
}

.cuarta .formulario .tercero {
  height: 100px;
}

.cuarta .formulario .tercero input {
  height: 80px;
}

footer {
  background-color: rgba(255, 255, 255, 0.842);
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
  height: 100px;
}

footer h5,
h4 {
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin: 0;
}

footer .datos-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 75px;
  height: 5vh;
}

footer .datos-contacto .datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

footer .datos-contacto .datos img {
  width: 30px;
}
